@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
  font-family: 'Dancing Script', cursive; /* Applying Dancing Script font */
  margin: 0;
  padding: 0;
}

.topbar {
  background-color: #f0ead2; /* Palette color: F0EAD2 */
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-title {
  font-size: 30px;
  font-weight: bold;
  margin-right: auto; /* Push to the left */
  color: #6c584c; /* Palette color: 6C584C */
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #6c584c; /* Palette color: 6C584C */
  font-size: 18px;
  position: relative; /* For the border-bottom bar */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.navbar a:hover {
  color: #a98467; /* Palette color: A98467 */
}

.navbar a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #a98467; /* Palette color: A98467 */
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease; /* Smooth transition for bar animation */
}

.navbar a:hover::after,
.navbar a.active::after {
  width: 100%; /* Display the bar when hovered or active */
}

.pre-row h2 {
  font-size: 24px;
}

.main-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.column {
  flex: 1;
  max-width: 300px;
}

.column img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* Responsive styles */
  .blog-title {
    margin-right: 0; /* Remove margin on smaller screens */
    margin-bottom: 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }
}
